<!-- header starts -->
<header>
    <a href="#" class="logo"><i class="fa fa-utensils"></i>Kitchen Story..</a>
    <nav class="navbar">
        <a class="active" routerLink="#">Home</a>
        <a   routerLink="/food-items">Food Items</a>
        <a  routerLink="/aboutus" >About Us</a>

        <a class="feed" id="feedback" routerLink="feedback">feedback</a>
        <a routerLink="/orders">Orders</a>
        
        
    </nav>
    <h3><a class="nav-link" aria-current="page" routerLink="/auth/login"  routerLinkActive>Sign in</a></h3>
    <h3><a class="nav-link" aria-current="page" routerLink="/auth/login"  routerLinkActive>Sign out</a></h3>
    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <i class="fa fa-user" aria-hidden="true"></i>
        <a href="login.html" class="fas fa-sign-in-alt"></a>
        
    </div>
</header>
<div class="back">
<div class="container1" id="co1">
    <div class="post">
        <div class="text">Thanks for Rating us!</div>
        <div class="edit">Edit</div>
        <i class="fas fa-times" id="close"></i>

    </div> 
    <div class="star-widget">
    <input type="radio" name="rate" id="rate-5">
    <label for="rate-5" class="fas fa-star"></label>
    <input type="radio" name="rate" id="rate-4">
    <label for="rate-4" class="fas fa-star"></label>
    <input type="radio" name="rate" id="rate-3">
    <label for="rate-3" class="fas fa-star"></label>
    <input type="radio" name="rate" id="rate-2">
    <label for="rate-2" class="fas fa-star"></label>
    <input type="radio" name="rate" id="rate-1">
    <label for="rate-1" class="fas fa-star"></label>
    <form action="#">
        <i class="fas fa-times" id="close"></i>
        <h4></h4>
        <div class="textarea">
            <textarea cols="30" placeholder="Describe your experience"></textarea>

        </div>
        
        <div class="btn">
            <button type="submit">Post</button>
        </div>
    </form>
    </div>    
</div>
</div>

<!--search form-->
<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close1"></i>
</form>
<!--Search Form ends-->

<!--Home section start-->
<section class="home" id="home-section">
    <!--Specials-->
        <div class="spl">
            <h2>Our Specials</h2>
    </div>
    <div class=table>
        <a href="#"><img src="../../../assets//Images/Dishes/Chicken-Biryani.jpg" height="150"><h4>Biryani</h4></a>
        <a href="#"><img src="../../../assets/Images/Dishes/chicken.jpeg" height="150"><h4>Chicken Lolipop</h4></a>
        <a href="#"><img src="../../../assets//Images/Dishes/panner tikka.jpg" height="150"><h4>Panner Tikka</h4></a>
        <a href="#"><img src="../../../assets//Images/Dishes/garlicprawns.jpg" height="150"><h4>Garlic Prawns</h4></a>
        <a href="#"><img src="../../../assets//Images/Dishes/vegpulao.jpg" height="150"><h4>Veg Pulao</h4></a>
        <a href="#"><img src="../../../assets//Images/Dishes/apollo fish.jpg" height="150"><h4>Apollo fish</h4></a>
    </div>
